<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.seckill.mapper.SeckillSpuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.seckill.model.SeckillSpu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type_number" property="typeNumber"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="list_price" property="listPrice"/>
        <result column="seckill_list_price" property="seckillListPrice"/>
        <result column="stock" property="stock"/>
        <result column="stock_threshold" property="stockThreshold"/>
        <result column="unit" property="unit"/>
        <result column="brand_id" property="brandId"/>
        <result column="brand_name" property="brandName"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="attribute_template_id" property="attributeTemplateId"/>
        <result column="album_id" property="albumId"/>
        <result column="pictures" property="pictures"/>
        <result column="startTime" property="start_time"/>
        <result column="endTime" property="end_time"/>
        <result column="gmtCreat" property="gmt_create"/>
        <result column="gmtModified" property="gmt_modified"/>
    </resultMap>
    <sql id="SimpleFields">
        id,
        name,
        type_number,
        title,
        description,
        list_price,
        seckill_list_price,
        stock,
        stock_threshold,
        unit,
        brand_id,
        brand_name,
        category_id,
        category_name,
        album_id,
        pictures,
        attribute_template_id,
        start_time,
        end_time,
        gmt_create,
        gmt_modified
    </sql>
    <select id="selectSeckillSpus" resultMap="BaseResultMap">
        select
            <include refid="SimpleFields"/>
        from
            seckill_spu
    </select>
</mapper>