<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.order.mapper.OmsOrderItemMapper">


    <!--不使用简化的多条插入，防止mycat不支持-->
    <insert id="insertOrderItems">
        INSERT INTO oms_order_item (
        order_id,
        sku_id,
        title,
        bar_code,
        data,
        main_picture,
        price,
        quantity,
        gmt_create,
        gmt_modified
        ) VALUES
        <foreach collection="omsOrderItems" item="ooi" separator=",">
            (
            #{ooi.orderId},
            #{ooi.skuId},
            #{ooi.title},
            #{ooi.barCode},
            #{ooi.data},
            #{ooi.mainPicture},
            #{ooi.price},
            #{ooi.quantity},
             now(),
             now()
            )
        </foreach>
    </insert>
    <select id="selectExistsByOrderId" resultType="boolean">
        select count(*) from oms_order_item where order_id=#{orderId}
    </select>
    <!--查询skuId数组-->
    <select id="selectSkuIdsByOrderId" resultType="String">
        select sku_id from oms_order_item where order_id=#{orderId}
    </select>
</mapper>
