<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.front.mapper.FrontSkuMapper">
    <!-- 标准查询映射结果 -->
    <resultMap id="StandardResultMap" type="cn.tedu.mall.pojo.product.vo.SkuStandardVO">
        <id column="id" property="id"/>
        <result column="spu_id" property="spuId"/>
        <result column="title" property="title"/>
        <result column="bar_code" property="barCode"/>
        <result column="attribute_template_id" property="attributeTemplateId"/>
        <result column="data" property="data"/>
        <result column="album_id" property="albumId"/>
        <result column="pictures" property="pictures"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="stock_threshold" property="stockThreshold"/>
        <result column="sales" property="sales"/>
        <result column="comment_count" property="commentCount"/>
        <result column="positive_comment_count" property="positiveCommentCount"/>
        <result column="sort" property="sort"/>
    </resultMap>
    <!-- 标准查询字段列表 -->
    <sql id="StandardQueryFields">
        <if test="true">
            pms_sku.id,
            pms_sku.spu_id,
            pms_sku.title,
            pms_sku.bar_code,
            pms_sku.attribute_template_id,
            pms_sku.specifications,
            pms_sku.album_id,
            pms_sku.pictures,
            pms_sku.price,
            pms_sku.stock,
            pms_sku.stock_threshold,
            pms_sku.sales,
            pms_sku.comment_count,
            pms_sku.positive_comment_count,
            pms_sku.sort
        </if>
    </sql>
    <!-- List<SkuVO> listBySpuId(Long spuId); Used-->
    <select id="listSkuBySpuId" resultMap="StandardResultMap">
        select
        <include refid="StandardQueryFields"/>
        from pms_sku left join pms_spu on pms_sku.spu_id = pms_spu.id
        where pms_sku.spu_id = #{spuId} and  pms_spu.is_deleted=0 and  pms_spu.is_published=1 and pms_spu.is_checked=1
    </select>
    <!-- SkuVO getById(Long id); Used-->
    <select id="selectSkuById" resultMap="StandardResultMap">
        select
        <include refid="StandardQueryFields"/>
        from pms_sku
        where id = #{id}
    </select>
    <!-- 给购物车批量查询; Used-->
</mapper>
